# Ignore all executables
*.exe
.vscode
# Ignore report cache
*report.fls*
*report.dvi*
*report.fdb_latexmk*
*report.bcf*
*report.aux*
*report.log*
*report.run.xml*
*report.synctex.gz*
*report.toc*
**/.DS_Store
temp.txt
*log*
# Ignore world image
**/worlds/*.jpg

# Ignore cache
**/__pycache__/
*.pyc
*.pyo
temp.py

# Virtual environment
venv/
reports/midpoint_report 2.zip
*.zip
*report.toc
*report.synctex(busy)
*report.pdf
*report.log
*report.fls
*report.fdb_latexmk
*report.bcf
*report.aux
*report.synctex.gz
*report.run.xml
*report.bbl
*report.aux
*report.bcf-SAVE-ERROR
*report.fdb_latexmk
*report.fls
texput.log
reports/midpoint_report/report.bbl-SAVE-ERROR
reports/midpoint_report/report.blg
hardware/jetson_setup/install_chrome.sh
hardware/jetson_setup/setup_system.md
hardware/jetson_setup/setup_vnc.sh
hardware/jetson_setup/setup.sh
hardware/Odrive/config_odrive.txt
hardware/Odrive/odrivetest.py
*build*
*install*
*.blg
*.bbl-SAVE-ERROR
*report.bbl-SAVE-ERROR*
*report.blg*

test/image/*.jpg

temp_py_files/
.env*
data20_near_2.csv

# Allow ISE logo
!*ise_logo.png
reports/draft_final_report/chapters/appendix.fls
reports/draft_final_report/chapters/appendix.fdb_latexmk
