# Ignore all executables
*.exe

# Ignore report cache
reports/progress_report_1/report.fls
reports/progress_report_1/report.dvi
reports/progress_report_1/report.fdb_latexmk
reports/progress_report_1/report.bcf
reports/progress_report_1/report.aux
reports/progress_report_1/.DS_Store
reports/.DS_Store
reports/progress_report_1/report.log
reports/progress_report_1/report.run.xml
reports/progress_report_1/report.synctex.gz
reports/progress_report_1/report.toc
reports/project_proposal/.DS_Store
simulation/.DS_Store
simulation/communication/.DS_Store
.DS_Store
temp.txt

# Ignore world image
**/worlds/*.jpg

# Ignore
**/__pycache__